.account-page{
	.account-page_inner{
		width: 980px;
		margin: 60px auto;
		padding: 60px;
		background-color: #fff;
		border: 1px #ddd;
		border-radius: 5px;

		.account-page_innner--left, .account-page__inner--right{
			float: left;
			width: 50%;
		}
		&:after{
			clear: both;
			content: "";
			display: block;
		}
	}

	.account-page_header{
		h2{
			
		}
	}
}